[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = git@github.com:tobiasehlert/hugo-coder.git
[submodule "tobiasehlert.github.io"]
	path = tobiasehlert.github.io
	url = https://github.com/tobiasehlert/tobiasehlert.github.io.git
