[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = git@github.com:tobiasehlert/hugo-coder.git
[submodule "public-tobiasehlert.github.io"]
	path = public-tobiasehlert.github.io
	url = git@github.com:tobiasehlert/tobiasehlert.github.io.git
