.navigation .container,
.footer .container {
  max-width: none;
  padding-left: 10rem;
  padding-right: 10rem;
}

.centered .about h2 {
  font-size: 2rem;
}

.footer .container {
  font-size: 1.425rem;
}
.footer .container p {
  margin: 0px;
}
